!!!
%html
	%head
		%title Homer
		%link{:href=>"/960.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/reset.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		<script type="text/javascript" src="//use.typekit.net/hgp5fvc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	%body
		.container_12
			#header
				%h1 
					%a(href="/")
						Homer
			.grid_6
				#content
					%h2
						Homer helps you remember things.
					=yield
			%div{:class=>"grid_5 prefix_1"} 
				#about
					%p
						The human brain is often compared to a computer. What if computers worked like your brain? Every time your brain calls back a memory, it's really remembering the last time you remembered it. Therefore, the more times you think about a memory, the faster it degrades and changes.
					%p
						Homer is an experiment that remembers things in the same way the brain does. Homer can remember things, but after every time you look at something it's remembering for you, you have to rewrite it again from memory.
					%p
						It's like how back in the day, stories were memorized and passed along orally rather than written down. Each person who heard it remembered it their own way, and thus they changed slightly over time. Hence the name, Homer. After the Greek guy.
					#footer
						%a(href="http://github.com/andrewjmonks/homer")
							Website code
						&copy; 2012 
						%a(href="http://monks.co")
							Andrew Monks