!!!
%html
	%head
		%title Homer
		%link{:href=>"/960.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/reset.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		:plain
			<script type="text/javascript" src="//use.typekit.net/hgp5fvc.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
			<script type="text/javascript">
				var _gaq = _gaq || [];
			 	_gaq.push(['_setAccount', 'UA-22952798-6']);
				_gaq.push(['_setDomainName', 'monks.co']);
				_gaq.push(['_setAllowLinker', true]);
				_gaq.push(['_trackPageview']);

				(function() {
				  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
	%body
		.container_12
			#header
				%h1 
					%a(href="/")
						Homer
			#content
				.grid_6
					%h2
						Homer helps you remember things.
					=yield
				%div{:class=>"grid_5 prefix_1"} 
					#about
						%p
							Human memory is often compared to a computer's hard drive, but how apt is that comparison?  
						%p
							Every time your brain calls back a memory, it's really remembering the last time you remembered it. Therefore, the more times you think about a memory, the faster it degrades and changes.
						%p
							Homer is an experiment that remembers things in the same way the brain does. Homer can remember things, but after every time you look at something it's remembering for you, you have to rewrite it again from memory.
						%p
							It's like how back in the day, stories were memorized and passed along orally rather than written down. Each person who heard it remembered it their own way, and thus they changed slightly over time. Hence the name, Homer. After the Greek guy.
						%p
							For more about memory, check out the
							%a(href="http://www.radiolab.org/2007/jun/07/")
								Memory&nbsp;&amp;&nbsp;Forgetting
							episode of Radiolab.
						#footer
							%a(href="http://github.com/andrewjmonks/homer")
								Website code
							&copy; 2012 
							%a(href="http://monks.co")
								Andrew Monks