%form{:method=>"post"}
	My name is...
	%input.formstyle{:type=>"text", :name=>"author", :id=>"author"}
	And #{@memory.title} is...
	%textarea.formstyle{:name=>"body", :id=>"body"}
	%input(type="submit" value="remember")
